<h1>{{title}}</h1>

<mat-toolbar>
    <nav>
        <ul class="main-nav">
            <li><a routerLink=""><button>Домой</button></a><br></li>
            <li><a routerLink="/users"><button class="example-icon" aria-label="Example icon-button with menu icon">Пользователи</button></a><br></li>
            <li><a routerLink="/registration"><button>Регистрация</button></a><br></li>
            <li><a routerLink="/categories"><button>Категории</button></a></li>
            <li><a routerLink="/products"><button>Продукты</button></a></li>
            <li><a routerLink="/login"><button>Войти</button></a></li>
            <li><a routerLink="/test"><button>Тест</button></a></li>
        </ul>
    </nav>
</mat-toolbar>


<router-outlet></router-outlet>

